@import "tailwindcss";
@plugin "daisyui";

.code-editor {
  min-height: 400px;
  max-height: 400px;
  overflow: auto;
}

.code-editor textarea {
  min-height: 400px !important;
  max-height: 400px !important;
  overflow: auto !important;
  white-space: pre !important;
}

.code-editor pre {
  min-height: 400px !important;
}

body.contest-fullscreen nav.fixed {
  display: none !important;
}

/* Hide scrollbars but keep scrolling enabled */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
